---
import Hamburger from "./Hamburg.astro";
import Navigation from "./Nav.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
	<nav>
		<Hamburger />
		<ThemeIcon />
		<Navigation />
	</nav>
</header>
